[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-containers
Exec=harbour-containers
Name=Containers

[X-Sailjail]
Sandboxing=Disabled
