<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig><vendor>sailfish-containers</vendor>
  <vendor_url>https://github.com/sailfish-containers</vendor_url><action id="org.sailfishcontainers.daemon.auth">
    <description gettext-domain="systemd">Authorization</description>
    <message gettext-domain="systemd">Authentication is needed to perform this action.</message>
    <defaults>
        <!--These describe the auth level needed to do this.
            Auth_admin, the current one, requires admin authentication every time.
            Auth_admin_keep behaves like sudo, saving the password for a few minutes.Allow_inactive allows it to be accessed from SSH etc. Allow_active allows it to be accessed from the desktop.
            Allow_any is a combo of both.
        -->
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
